@import url("blueprint.css");
@import url("forms.css");

body
{
	background:#369;
	margin:50px auto;	
}

div.container
{
	padding:15px 15px 0 15px;
}

div.white
{
	background:#fff;
}

div#navigation
{
	margin:10px auto;
	text-align:right;	
}

div#footer_navigation a
{
	color:#fff;
	text-decoration:none;
	padding:5px;
}

div.journal_entry, div.page_body
{
	background:#e8e8e8;
	margin-bottom:15px;
	padding:10px;
}

div.journal_entry span.edit_journal_link
{
	font-size:0.4em;	
}

div.journal_entry span.edit_journal_link a
{
	color:#369
}

div.journal_meta, div.page_meta
{
	color:#666;
	font-size:2em;
	font-weight:bold;
}

div.journal_meta a, div.page_meta a
{
	color:#666;
	text-decoration:none;
}

div.journal_meta span.the_time
{
	font-size:0.5em;
	color:#777;
	margin-left:10px;
	display:block;
}

div.journal_entry_content, div.page_content
{
	font-style:italic;
	margin:5px 10px;
}

div.user_message
{
	font-size:1.3em;
	padding:15px;
	margin:0 0 10px 0;
	-moz-border-radius:5px;
}

div#flash_message
{
	background:#e8e8e8;
	border:1px solid #fff;
}

div#flash_error
{
	background:#f8f8f8;
	border:1px solid #e8e8e8;
	color:#900;
}

table
{
	border:1px solid #ccc;
	border-collapse: collapse;
}

table th, table td
{
	border:1px solid #ccc;	
}

table tr:nth-child(odd) th, table tr:nth-child(odd) td
{
	background:#e8e8e8;
}

table tr:nth-child(even) th, table tr:nth-child(even) td
{
	background:#f8f8f8;
}

.right
{
	float:right;
}

.left
{
	float:left;
}

.clear
{
	clear:both;
}