.container
{
	width:95%;
}

body
{
	font-family: Helvetica;
	margin: 0 0 0 10px;
	padding: 0;
	webkit-text-size-adjust: none;
	webkit-user-select: none;
	font-size:2em;
}

h1#logo
{
	display:none;
}

div.formFields
{
	margin:5px 0;
}

fieldset
{
	border:1px solid #e8e8e8;
	margin:10px 0;
	background:#f8f8f8;
}

legend
{
	font-size:1.4em;	
}


div.formFields label
{
	display:block;
	font-size:1.2em;
}

div.formFields input[type=text], div.formFields input[type=password]
{
	padding:8px;
	font-size:1.3em;
	width:100%;
	-moz-border-radius:2px;
}

div.formFields textarea
{
	width:97%;
	font-size:1.4em;
	font-style:italic;
}


#username, #password, #email
{
	width:100%;
}


input[type=submit], input[type=button], #navigation a
{
	display:block;
}

input[type=submit]:hover, input[type=button]:hover, #navigation a
{

}